<div class="logo">
  <%= image_tag("favicon-32x32.png", alt: "Favicon") %>
  <h2>Anilist-wrap</h2>
</div>
<h1 class="section-title">- Top 30 Anime -</h1>
<div class="grid">
  <% if @error %>
    <p><%= @error %></p>
  <% else %>
    <% @top_anime.each_with_index do |anime, index| %>
      <div class="card">
        <a href="<%= anime['siteUrl'] %>">
          <img src="<%= anime['bannerImage'] || 'fallback_image_url_here' %>" alt="<%= anime['title']['romaji'] %>">
          <div class="card-title"><%= index + 1 %>. <%= anime['title']['romaji'] %></div>
        </a>
      </div>
    <% end %>
  <% end %>
</div>

<h1 class="section-title">- Top 30 Manga -</h1>
<div class="grid">
  <% if @error %>
    <p><%= @error %></p>
  <% else %>
    <% @top_manga.each_with_index do |manga, index| %>
      <div class="card">
        <a href="<%= manga['siteUrl'] %>">
          <img src="<%= manga['bannerImage'] || 'fallback_image_url_here' %>" alt="<%= manga['title']['romaji'] %>">
          <div class="card-title"><%= index + 1 %>. <%= manga['title']['romaji'] %></div>
        </a>
      </div>
    <% end %>
  <% end %>
</div>
