<h1 class="section-title">Top 20 Anime</h1>
<div class="grid">
  <% if @error %>
    <p><%= @error %></p>
  <% else %>
    <% @top_anime.each_with_index do |anime, index| %>
      <div class="card">
        <a href="<%= anime['siteUrl'] %>" >
          <img src="<%= anime['coverImage']['large'] %>" alt="<%= anime['title']['romaji'] %>">
          <div class="card-title"><%= index + 1 %>. <%= anime['title']['romaji'] %></div>
        </a>
      </div>
    <% end %>
  <% end %>
</div>

<h1 class="section-title">Top 20 Manga</h1>
<div class="grid">
  <% if @error %>
    <p><%= @error %></p>
  <% else %>
    <% @top_manga.each_with_index do |manga, index| %>
      <div class="card">
        <a href="<%= manga['siteUrl'] %>" >
          <img src="<%= manga['coverImage']['large'] %>" alt="<%= manga['title']['romaji'] %>">
          <div class="card-title"><%= index + 1 %>. <%= manga['title']['romaji'] %></div>
        </a>
      </div>
    <% end %>
  <% end %>
</div>
