<h1 class="section-title">Top 20 Anime</h1>
<div class="grid">
  <% if @error %>
    <p><%= @error %></p>
  <% else %>
    <% @top_anime.each do |anime| %>
      <div class="card">
        <a href="<%= anime['siteUrl'] %>" >
          <img src="<%= anime['coverImage']['large'] %>" alt="<%= anime['title']['romaji'] %>">
          <div class="card-title"><%= anime['title']['romaji'] %></div>
        </a>
      </div>
    <% end %>
  <% end %>
</div>

<h1 class="section-title">Top 20 Manga</h1>
<div class="grid">
  <% if @error %>
    <p><%= @error %></p>
  <% else %>
    <% @top_manga.each do |manga| %>
      <div class="card">
        <a href="<%= manga['siteUrl'] %>" >
          <img src="<%= manga['coverImage']['large'] %>" alt="<%= manga['title']['romaji'] %>">
          <div class="card-title"><%= manga['title']['romaji'] %></div>
        </a>
      </div>
    <% end %>
  <% end %>
</div>
